KAKAO_CLIENT_ID='your-client-id'
KAKAO_CLIENT_SECRET='your-client-secret'
GOOGLE_CLIENT_ID='your-client-id'
GOOGLE_CLIENT_SECRET='your-client-secret'
NAVER_CLIENT_ID='your-client-id'
NAVER_SECRET='your-client-secret'
JWT_SECRET='your-jwt-secret'
MYSQL_USER=''
MYSQL_PASSWORD=''
MYSQL_HOST=''
MYSQL_DATABASE=''
REDIS_PORT=''